@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --primary : #200B10;
    --secondary : #270110;
}

::-webkit-scrollbar {
    width: 0;
}

.hero {
    min-height: 100vh;
    background: url('./img/heromain.jpg') center center;
    background-size: cover;
    padding: 1rem;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex {
    display: flex;
}

.nav {
    flex-direction: column;
}
.nav li {
    list-style: none;
    margin-top: 2rem;
}
.nav li a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
}
.title, h2 {
    font-family: 'Pacifico', cursive;
    letter-spacing: 2px;
}
.footer {
    font-family: 'Pacifico', cursive;
    letter-spacing: 5px;
    font-size: 4rem;
    background-color: var(--secondary);
    color : rgb(255, 212, 126);
    color: white;
    text-shadow: 3px 8px 12px black;
    padding: 2rem 0;
}
.coffee {
    background-color: var(--primary);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    padding: 12px 1.5rem;
    letter-spacing: 1px;
    border-radius: 8px;
    box-shadow: 0px 5px 15px black;
}
.coffee:hover {
    background-color: var(--secondary);
}
.instagram a:hover {
    background-color: var(--primary);
}
.instagram a {
    background-color: var(--secondary);
}

.nav li a i {
    margin-left: 2rem;
}

.coffee img {
    width: 50px;
    height: 50px;
    margin-left: 1rem;
    margin-top: -10px;
}
.instagram img {
    width: 40px;
    height: 40px;
    margin-top: 0px;
}
.about, .works, .services {
    background-color: var(--secondary);
    height: 60vh;
    margin: auto;
    position: relative;
}
.works {
    background-color: var(--primary);
    justify-content: center;
    height: 55vh;
    padding-top: 2rem;
}

.bio-img img {
    width: 300px;
    height: 300px;
    box-shadow: 8px 8px 0px white;
    margin-right: 1.8rem;
}

.bio p {
    width: 450px;
    text-align: justify;
    color: rgb(168, 143, 143);
}

.bio h2 {
    color: wheat;
    margin-bottom: .7rem;
    position: relative;
}

.bio h2::after {
    content: '';
    position: absolute;
    top: 40px;
    left: 5px;
    height: 2px;
    width: 50px;
    background-color: white;
}

.work-img img {
    width: 300px;
    height: 300px;
    box-shadow: 8px 8px 0px white;
}

.work p {
    width: 450px;
    text-align: justify;
    color: rgb(153, 146, 146);
    margin-right: 1.8rem;
    margin-bottom: 2rem;
}
.work li {
    list-style: square;
    margin: 1rem;
    font-size: 2rem;
    color: white;
    letter-spacing: 2px;
}
.work h2 {
    color: wheat;
    margin-bottom: .7rem;
    position: relative;
}
.work h2::after {
    content: '';
    position: absolute;
    top: 40px;
    left: 5px;
    height: 2px;
    width: 50px;
    background-color: white;
}

.services {
    background-color: var(--secondary);
    height: auto;
    padding: 1.5rem 0;
}
.services h2 {
    color: wheat;
    margin-bottom: 2rem;
    position: relative;
}
.services h2::after {
    content: '';
    position: absolute;
    top: 40px;
    left: 5px;
    height: 2px;
    width: 100px;
    background-color: white;
}

.services li {
    border: 1px solid wheat;
    width: 400px;
    padding: 10px 15px;
    margin-bottom: 1rem;
    border-radius: 5px;
    color: white;
    align-items: center;
    justify-content: space-between;
}

.services li a {
    background-color: var(--primary);
    background-color: wheat;
    font-weight: 600;
    padding: 3px 8px;
    border-radius: 4px;
    text-decoration: none;
    color: var(--primary);
}
.services li a:hover {    
    background-color: rgb(255, 212, 126);
    font-weight: 700;
}

.footer-img {
    background: url('./img/bottom.jpg') center center;
    background-size: cover;
    padding: 1rem;
    height: 455.33px;
}

@media (max-width: 1300px) {
    .about, .works {
        flex-direction: column;
        height: auto;
        padding: 2rem 0;
    }
    .works {
        flex-direction: column-reverse;
        align-items: center;
    }
    .work {
        margin-top: 2rem;
    }
    .bio-img {
        margin-bottom: 2rem;
    }
    .work p, .bio p {
        width: auto;
        margin: auto;
        padding: 1rem;
    }
    .bio h2 {
        margin-left: 3rem;
    }
    .services li {
        width: 370px;
    }
}
